<!DOCTYPE html>
<html>
<%- include('partials/header'); %>
  <script>
  </script>

  <body>
    <div class="container">
      <h1 class="header">Get user by id</h1>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s9">
              <input id="user_id" name="user_id" type="text" class="validate" autofocus>
              <label for="user_id" class="active">Enter user id</label>
            </div>
            <div class="col s3">
              <button class="btn-large waves-effect waves-light" type="submit">Find
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
        <ul class="row">
          <%- include('partials/user', { user: locals.user }); %>
        </ul>
        <% if (locals.notFound) { %>
          <h5 class="row">
            <%- notFound %>
          </h5>
        <% } %>
        <a class="btn collection-item" href="/"><i class="material-icons left">arrow_back</i>Go Home</a>
      </div>
    </div>
  </body>

</html>