<!DOCTYPE html>
<html>
<%- include('partials/header'); %>
<body>
  <div class="container">
    <h1 class="header">Users Management</h1>
    <div class="collection">
      <a class="btn collection-item" href="/users"><i class="material-icons right">arrow_forward</i>Get all users</a>
      <a class="btn collection-item" href="/users/search"><i class="material-icons right">arrow_forward</i>Get user by id</a>
    </div>
  </div>
</body>

</html>